.info {
	position: relative;
	display: flex;
	.info__content{
		@include col();
		@include size(5);
		.info__img-block {
			position: relative;
			padding-top: 56.25%;
			overflow: hidden;
			.info__image {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: auto;
			}
		}
	}
}
