mixin info(data)
    +b('info', {t: 'section'})&attributes(attributes)
        +e('wrapper')
            +e('inner')
                +b('content', {m: 'm-l'})(data-aos="fade-right")
                    +b('image-block')
                        +e('image')(alt="img" src="assets/images/content/info-img-1.jpg")
                    +b('text-block', {m: 'right'})
                        span 40
                        span регионов России
                        span работаем в условиях Крайнего Севера и жарких пустынь
                        span 9 стран
                +b('content', {m: 'flex-end'})(data-aos="fade-left")
                    +b('image-block')
                        +e('image')(alt="img" src="assets/images/content/info-img-2.jpg")
                    +b('text-block', {m: 'left'})
                        span 7000
                        span сотрудников
                        span Огромный коллектив, который трудится, как единный, крепкий организм