.header-top {
  padding-top: 10px;
  font-size: 0.8rem;
  line-height: 1.3;
  color: $white;

  &__wrapper {
    @include container();

    .header-top__inner {
      @include row-flex();
      justify-content: space-between;

      .left-side {
        @include col-padding();
        @include size(3);

        &__content {
          display: flex;
          justify-content: space-between;

          .left-side__text {
            display: flex;
            align-items: flex-end;
            max-width: 55%;
          }
        }
      }

      .right-side {
        @include col-padding();
        @include size(5);
        display: flex;
        align-items: flex-start;
        max-width: 36%;

        &__content {
          display: flex;
          align-items: center;

          .right-side__text {
            margin-top: 10px;
          }
        }
      }
    }
  }
}


