mixin headerTop(data)
	+b('header-top')&attributes(attributes)
		+e('inner')
			+b('left-side')
				+e('content', {m: 'flex-end'})
					+b('img-block')
						+e('image')(alt="img" src="assets/images/kgs-logo.png" width="77")
					+e('text', {m: 'start'})= data.kgsText
			+b('right-side')
				+e('content')
					+b('img-block')
						+e('image')(alt="img" src="assets/images/gazprom-logo.png" width="60")
					+e('text', {m: 'block'})= data.gazpromTextAnother
				+e('content')
					+b('img-block')
						+e('image')(alt="img" src="assets/images/gazprom-logo.png" width="60")
					+e('text', {m: 'block'})= data.gazpromText