.objects {

  &__wrapper {
    @include container();

    .objects__inner {
      display: flex;
      justify-content: space-between;

      .arrow-right {
        display: flex;
        align-items: flex-end;

        &__link {
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        span {
          color: #fff;
          font-size: 14px;
          margin-bottom: 5px;
          margin-right: 10px;
        }

      }

      .objects__title-block {
        @include col-padding();
        @include col-padding();
        @include size-hd(6);
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(6);
        @include size-sm(9);
        @include size-xs(10);

        .objects__title {
          color: $white;
          font-size: 3.5rem;
          margin-top: 0;
          margin-bottom: 30px;
        }

        .objects__description {
          color: $white;
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }

  .objects__full-wrapper {
    display: flex;
    height: 655px;
    padding-top: 50px;

    .objects__object-content {
      @include col-padding();
      @include size-hd(4);
      @include size-xl(4);
      @include size-lg(4);
      @include size-md(4);
      @include size-sm(9);
      @include size-xs(10);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.5;
      }

      &:first-child {
        background: url("../images/content/object-img-5.jpg") no-repeat 50% 50%;
        background-size: cover;
      }

      &:nth-child(2) {
        background: url("../images/content/object-img-6.jpg") no-repeat 50% 50%;
        background-size: cover;
      }

      &:last-child {
        background: url("../images/content/object-img-3.jpg") no-repeat 50% 50%;
        background-size: cover;
      }

      .objects__text {
        @include col-padding();
        @include size-hd(6);
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(6);
        @include size-sm(9);
        @include size-xs(10);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
        margin-bottom: 50px;

        &::before {
          content: '';
          position: absolute;
          top: 55%;
          left: 0;
          width: 80%;
          height: 2px;
          background-color: #fff;
        }

        span {
          display: block;
          color: $white;
          font-size: 18px;
        }

        .objects__down-text {
          display: flex;
          flex-direction: column;

          span {
            font-size: 13px;
            line-height: 1.5;
          }
        }
      }
    }
  }
}
