extends ../layouts/default
include ../components/header/header
include  ../components/info/info
include ../components/autonomy/autonomy
include ../components/objects/objects
include ../components/responsibility/responsibility
include ../components/responsibility-white/responsibility-white

block header
	+header(header.default)

block main
	+info()
	+autonomy(autonomy.default)
	+objects(objects.default)
	+responsibility(responsibility.default)
block white-main
	+responsibility-white(responsibilityWhite.default)
