include ../headerTop/headerTop
include ../button/button


mixin header(data)
    +b('header')&attributes(attributes)
        +e('wrapper')
            +headerTop(headerTop.default)
            +button()
            +e('inner')
                +b('content', {m: 'first'})(data-aos="fade-right")
                    +e('title', {t: 'h3', m: 'first'})= data.blockContent.title
                    +e('description', {t: 'span', m: 'first'})= data.blockContent.description
                +b('content' , {m: 'second'})(data-aos="fade-left")
                    +e('title', {t: 'h3'})= data.blockContentAnother.title
                    +e('description', {t: 'span'})= data.blockContentAnother.description

