include ../headerTop/headerTop
include ../button/button	


mixin header(data)
	+b('header')&attributes(attributes)
		+headerTop(headerTop.default)
		+button()
		.container
			.row.padding-top
				+e('block-content',{m: 'first'})
					+e('content')
						+e('title', {t: 'h3', m: 'first'})= data.blockContent.title
						+e('description', {t: 'span', m: 'first'})= data.blockContent.description
			.row.flex-end
				+e('block-content', {m: 'second'})
					+e('content')
						+e('title', {t: 'h3'})= data.blockContentAnother.title
						+e('description', {t: 'span'})= data.blockContentAnother.description		
