.header {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 700px;
    background: url(../images/content/header-bg.png) no-repeat;

  }

  &__wrapper {
    @include container();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
  }

  @include to-sm() {
    .header {
      &__wrapper {
        .header__inner {
          justify-content: space-between;
          padding-left: 15px;
          padding-right: 15px;

          .content_first {
          }

          .content {
            &__title {
              font-size: 1.6rem;
            }

            &__description {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@include to-sm {
  .header {
    &::before {
      background-position: -160px 0;
      background-size: 200% 65%;
    }
  }
}