.color-block {
    width: 150px;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#000, .2);
    &__box {
        width: 100%;
        height: 70px;
        margin-bottom: 5px;
    }

    &__color-name, &__var-name {
        font-size: 12px;
        text-align: left;
        line-height: 1.3;
        padding: 0 10px; 
    }
}