.responsibility-white {
  top: -116px;
  position: relative;

  &__wrapper {
    @include container();

    .responsibility-white__inner {
      @include row-flex();
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      height: 1000px;
      justify-content: space-between;

      .content {
        position: relative;
        display: flex;
        justify-content: flex-end;
        @include col-padding();
        @include size-hd(8);
        @include size-xl(8);
        @include size-lg(8);
        @include size-md(9);
        @include size-sm(9);
        @include size-xs(10);

        .image-block_left {
          left: 40px;
        }

        .image-block_right {
          right: 0;
        }

        .image-block {
          position: absolute;
          top: -65px;
          @include col-padding();
          @include size-hd(6);
          @include size-xl(6);
          @include size-lg(6);
          @include size-md(6);
          @include size-sm(9);
          @include size-xs(10);
          max-width: 375px;

          .image-block__cont {
            padding-top: 67.25%;
            position: relative;
            overflow: hidden;

            .image-block__image {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              width: 100%;
              height: auto;
            }
          }
        }

        .content__text-content {
          @include col-padding();
          @include size-hd(7);
          @include size-xl(7);
          @include size-lg(7);
          @include size-md(6);
          @include size-sm(9);
          @include size-xs(10);
          background-color: #f6f8fa;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 60px 0;

          .content__title {
            @include col();
            @include size(7);
            margin-top: 0;
            color: #000;
            font-size: 24px;
            font-weight: bold;
          }

          .content__description {
            @include col();
            @include size(7);
            margin: 0;
            color: #000;
            font-size: 15px;
          }
        }
      }

      .content__flex-start {
        justify-content: flex-start;

        .content__text-content {
          margin-left: 42px;
        }
      }
    }
  }
}
