extends page

block page
	.page__content
		.page__mobile-menu
			block mobileMenu
			
		.page__header
			block header

		.page__main
			block main
			.bg-white-main
				block white-main

		.page__footer
			
			block footer