include ../../node_modules/bempug/index
include ../components/javascripts/javascripts
include ../components/head/head
- BEMPUG.modifier = '_';

doctype html
html(lang=config.lang)&attributes(attributes)
	head
		-
			let page = {
				title: "",
				class: [],
				offcanvas: true
			};

		block head
		+head({ title: page.title })

	body.page(class=page.class data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0")

		block page

		+javascripts()
