.autonomy {
  &__wrapper {
    @include container();

    .autonomy__inner {
      display: flex;

      .autonomy__title-block {
        @include col-padding();
        @include size-xl(6);
        @include size-lg(6);
        @include size-md(6);
        @include size-sm(9);
        @include size-xs(10);


        .autonomy__title {
          color: $white;
          font-size: 3.5rem;
          margin-top: 0;
          margin-bottom: 30px;
        }

        .autonomy__description {
          color: $white;
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}
